body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('imagenes/fondos/fondo.jpeg'); /* Ruta de la imagen proporcionada */
    background-size: cover;
    background-position: center;
}

.title {
    font-size: 40px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
}

.container {
    text-align: center;
}

.clickable-area {
    font-size: 150px;
    color: white;
    background: rgba(0, 0, 0, 0.1);
    padding: 75px;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
}

p {
    font-size: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fondo negro con opacidad */
    padding: 10px 0;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.menu-item img {
    width: 30px; /* Ajusta el tamaño del icono según sea necesario */
    height: 30px;
}

.menu-item span {
    margin-top: 5px;
    font-size: 12px;
}